<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Snack Time</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/styleIndex.css" rel="stylesheet">
    <link href="../css/styleInsProdSup.css" rel="stylesheet">

  </head>
 
  <body data-ng-app="projecJava" >
      <div class="container-fluid" >
        <!-- Navigation -->
        <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: fixed;">
              <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Snack Time</a>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="estoque.html">Pàgina de Estoque</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="produtos.html">Página de Produtos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
      <div class="container-fluid" >
          
            <!-- =============== SUPRIMENTOS =================== -->

          <div class="row-fluid secaoSupr">
          <div data-ng-controller="SuprimentoController as controller" >
          
            
            <div class="span6 cadSupr">
              <label class="titleSec" for="" style="">Inserir Suprimento</label>
                <div id="" class="div"></div>
                <br><br>
              <label class="labelSup" for="">Nome:   </label>
              <input class="inputSup" type="text"  name="nomeSuprimento" data-ng-model="controller.suprimento.nome"><br>
              <label class="labelSup" for="">Quantidade:   </label>
              <input class="inputSup" type="number"  name="quantidade" data-ng-model="controller.suprimento.quantidade"><br>
              <label class="labelSup" for="">Custo:   </label>
              <input class="inputSup" type="number"  name="custo" data-ng-model="controller.suprimento.custo"><br>
              <label class="labelSup" for="">Tipo Unidade:   </label>
              <input class="inputSup" type="text"  name="" data-ng-model="controller.suprimento.nomeTipo_Unidade"><br>
              <label class="labelSup" for="">Marca:   </label>
              <input class="inputSup" type="text"  name="marca" data-ng-model="controller.suprimento.nomemarca"><br>
              <label class="labelSup" for="">Quantidade Utilizada:   </label>
              <input class="inputSup" type="number"  name="marca" data-ng-model="controller.suprimento.quantidadeutilizada"><br>
              
              <label class="labelSup" for="">Fornecedor:   </label>
              <select >
                  <option> </option>
                  <option data-ng-repeat="fornecedor in controller.fornecedores">{{fornecedor.nome}}</option>                
              </select><br><br><br>
                

                
                
                <button class="buttonSave">
                    <a>Salvar Suprimento</a>  
                </button>

               <input class="buttonSave" type="submit"  data-ng-click="controller.salvarsup()" value="Salvar Suprimento">


            </div> 
           
             <!-- =============== FORNECEDOR =================== -->
             
            <div class="span6 cadForn" >
                <label class="titleSec" for="">Inserir Fornecedor</label>
                <div id="div2" class="div"></div>  
                <br><br>
                <label class="labelSup" for="">Nome Social:   </label>
                  <input type="text"  name="nomeEmpresa" style="" data-ng-model="controller.fornecedor.nome"><br>
                  <label for="">CNPJ:   </label>
                  <input type="text"  name="cnpj" style="" data-ng-model="controller.fornecedor.cnpj"><br>
                  <label for="">Telefone:   </label>
                  <input type="text"  name="telefone" style="" data-ng-model="controller.fornecedor.telefone"><br>
                  <label for="">E-mail:   </label>
                  <input type="text"  name="email" style="" data-ng-model="controller.fornecedor.email"><br>
                  
                
                 <!--COMBOBOX PAIS -->
                <label for="">País:   </label>
                 <select >
                  <option ></option>
                  <option data-ng-repeat=" pais in controller.paises">{{pais.nomePais}}</option>
                </select><br>

                <!--COMBOBOX ESTADO -->
                <label for="">Estado:   </label>
                 <select >
                  <option ></option>
                  <option data-ng-repeat="estado in controller.estados">{{estado.nomeUF}}</option>
                </select><br>
                
                 <!--COMBOBOX CIDADE -->
                <label for="">Cidade:   </label>
                <select  >
                  <option ></option>
                  <option  data-ng-repeat="cidade in controller.cidades"> {{cidade.nomeCidade}}</option>

                </select><br>                
                <label class="labelSup" for="">Logradouro:   </label>
                <input class="inputSup" type="text"  name="ruaEmpresa" data-ng-model="controller.fornecedor.rua">
                <br><br>
                
                   <input class="buttonSave" type="submit"  data-ng-click="controller.salvarfor()" value="Salvar Fornecedor">                                                            
             
              </div>   
            </div>                                             
        </div>

        <div  class="row-fluid secaoProd">
            
            <div class="span12 cadProd">
              <label class="titleSec" for="" style="">Inserir Produto</label>
                <div class="div"></div>
                <br><br>
              <label  for="">Nome:   </label>
              <input  type="text"  name="nomeSuprimento"><br>
              <label  for="">Margem De lucro:   </label>
              <input  type="text"  name="nomeSuprimento"><br>
                
                

            </div> 
            <div class="span12 selSup">
                <label class="titleSec" for="" style="">Selecione <br>os Suprimentos</label>
                <div class="div" style="width: 90%"></div>
                <br><br>
                <table class="table">
                    <tr class="l1">
                        <th style="color: #18bc9c;"  class="check"></th>
                        <th>Nome</th>
                       
                    </tr>
                    <tr class="ls">
                        <td class="check"> <form action=""><input type="checkbox" name="vehicle" value= ""></form></td>
                        <td class="nomeSup"></td>
                    </tr>
                </table>
                <br>
                <button class="buttonSave">
                    <a>Salvar Produto</a>  
                </button>
            </div>   
        </div>     
      </div>
     <script src="../angular.js"></script>
     <script src="../js/suprimento.js"></script>
     
</body>
</html>