<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Snack Time</title>
     <link rel="icon" type="imagem/png" href="favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/styleIndex.css" rel="stylesheet">
    <link href="../css/styleCadastro.css" rel="stylesheet">

  </head>

  <body data-ng-app="projecJava" >
      <div class="container-fluid" >
        <!-- Navigation -->
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: fixed;">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Snack Time</a>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../../index.html">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      


    <div class="container-fluid">
        
          <div  class="row-fluid secaoEmp" >
            
            <div class="span6 cadDGer">
              <label class="titleSec" for="" style="">Cadastro de Empresa</label>
                <div id="div1" class="div"></div>
                <br><br><br>
                <label class="labelSup" for="">Nome Social:   </label>
                  <input type="text"  name="nomeEmpresa" style=""><br>
                  <label for="">CNPJ:   </label>
                  <input type="text"  name="cnpj" style=""><br>
                  <label for="">Telefone:   </label>
                  <input type="text"  name="telefone" style=""><br>
                  <label for="">E-mail:   </label>
                  <input type="text"  name="email" style=""><br>
                  
                
                 <!--COMBOBOX PAIS -->
                <label for="">País:   </label>
                 <select data-ng-controller="PaisController as controller" >
                  <option> </option>
                  <option data-ng-repeat="pais in controller.paises">{{pais.nomePais}}</option>
                </select><br>

                <!--COMBOBOX ESTADO -->
                <label for="">Estado:   </label>
                 <select data-ng-controller="EstadoController as controller" >
                  <option> </option>
                  <option data-ng-repeat="estado in controller.estados">{{estado.nomeUF}}</option>
                </select><br>
                 <!--COMBOBOX CIDADE -->
                <label for="">Cidade:   </label>
                <select  data-ng-controller="CidadeController as controller">
                  <option> </option>
                  <option  data-ng-repeat="cidade in controller.cidades"> {{cidade.nomeCidade}} - {{cidade.siglaUF}}</option>

                </select><br>                
                <label class="labelSup" for="">Logradouro:   </label>
                <input class="inputSup" type="text"  name="ruaEmpresa"><br> 
                <br>

              </div> 
              <div class="span6 cadUs" style="padding-left: 18%;">
                  <label class="titleSec" for="" style="">Cadastro do Administrador</label>
                <div id="div1" class="div"></div>
                <br><br>
                <label class="labelSup" for="">Nome:   </label>
                  <input type="text"  name="NomeAdm" style=""><br>
                  <label for="">Função:   </label>
                  <input type="text"  name="funcao" style=""><br><br>
                   <div id="div3" class="div"></div>
                   <br>
                  <label for="">Usuário:   </label>
                  <input type="text"  name="usuario" style=""><br>
                  <label for="">Senha:   </label>
                  <input type="text"  name="semha" style=""><br>
                  <label for="">Confirmar senha:   </label>
                  <input type="text"  name="ConfirSenha" style=""><br>
                  <div class="botoes">
                   <button style="float: left;">
                      <a>Cadastrar</a>  
                  </button>
                   <button style="float: right;">
                      <a>Cancelar</a>  
                  </button>
                    
                  </div>


              </div>


          </div>
    </div>

</body>
</html>