body{
    background-color: #fff; 
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    text-align: center;
    font-variant: small-caps;
    
}

.titleSec{
    color: rgb(255,255,255); 
    font-weight: 600; 
    font-size: 30px; 
    text-align: center;
}

.div{
    background-color: #18bc9c;
    float: right;
    width: 80%;
    height: 1px;
}

#div1{
    width: 85%;
}

label{

}

.secaoLogin{
    margin-top: 100px; 
    font-variant: small-caps;
    color: #fff;
    text-align: center; 
    padding: 20px;
    height: auto;

}

input{
    width: 300px; 
    height: 30px;
}

button{
    background-color: #18bc9c;
    color: #fff;
    border: 1px solid #18bc9c;
    width: 45%;
    height: 50px;
}

.log{
    text-align: center; 
    align-items: center;
    background-color: rgb(44,62,80);
    height: auto;
    width: 100%;
    
}

.botoes{
    width: 60%;
    height: 15%;
    align-items: right;
    margin-top: 5%;
}