.fundoMenu{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    border: 2px solid rgb(44,62,80);

}

.name{
    margin-left: auto;
    margin-right: auto; 
    font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: rgb(44,62,80);
    padding-left: auto;
    padding-right: auto;
    height: 400px;
}

.botao{
    height: 80px;
    width: 400px;    
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(44,62,80);
    
}

.botao{
    font-size: 40px;
    font-variant: small-caps; 
    font-weight: 900; 
    color: #fff;    
}

.botao :hover{    
    text-decoration: none;
    color: #fff;
}

.inputUser{
    width: 350px; 
    height: 60px;
    color: rgb(44,62,80);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    border: 1px solid rgb(44,62,80);
}

.inputSenha{
    width: 350px; 
    height: 60px;
     color: rgb(44,62,80);
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(44,62,80);
}