.container-fluid{
	padding: 0px;
	align-items: center;
	text-align: center;
}


.body{
	background-color: #fff;
}


button:hover {
  background-color: #39455c;
  color: #e0e0e0;
  text-decoration: none;
}

button{
  background-color: #39455c;
  color: #e0e0e0;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.botao{
  background-color: #39455c;
  color: #e0e0e0;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}


.rodape{
  height: 4%;
  background: linear-gradient(0deg, #fff, #39455c);
}

p{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 20px;
}



nav ul {
  list-style: none;
  background-color: #e0e0e0;
  text-align: left;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}

nav a {
  text-decoration: none;
  display: block;
  color: #39455c;
  padding-left: 15px;
  border-right: 1px solid #39455c;
  transition: .3s background-color;
  text-decoration:none;
}

nav a:hover {
  background-color: #39455c;
  color: #e0e0e0;
  border-right: 1px solid #e0e0e0;
}



/* Sub Menus */
nav li li {
  font-size: 20px;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
 nav li {
  width: 130px;
  border-bottom: none;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  margin-right: -4px;
	text-decoration: none;
}

nav a {
  border-bottom: none;
  text-decoration:none;
	text-decoration: none;
}

nav a:link{	
  text-decoration:none;
}

nav a:hover{
	text-decoration: none;
}

nav > ul > li {
  text-align: center;
}

nav > ul > li > a {
  padding-left: 0;
}

  /* Sub Menus */
nav li ul {
  position: absolute;
  display: none;
  width: inherit;
}

nav li:hover ul {
  display: block;

}

nav li ul li {
  display: block;
  font-size: 16px;
  
}

main {
  padding: 10px;
  background-color: #006363;
}

main p{
  font-size: 14px;
}