
.container-fluid{
	padding: 0px;
	align-items: center;
	text-align: center;
}


.body{
	background-color: #39455c;
}

.caixaBotoes{
	align-items: center;
	text-align: center;
	text-decoration: bold;
	padding-right: 0;
  padding-left: 0;

}


.botoes{
	font-size: 1.5em;
	background-color: #e0e0e0;
	color: #39455c;
	text-align: center;
	text-decoration: bold;
	height: 60px;	
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	padding-right: 0;
  padding-left: 0;
}



