body{
	margin: 0px;
}

header{
	width: 100%;
	background-color: rgb(150,60,205);
}

.meio{
	height: 800px;
	background-color: rgb(255,60,205);
	margin-top: 200px;
	margin-top: 50px;
}


th, tr{
	width: 19%;
}

.botao{
	width: 100%;
}