body{
    background-color: #fff; 
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    text-align: center;
    
}



.titleSec{
	color: rgb(255,255,255); 
	font-weight: 600; 
	font-size: 30px; 
}

.div{
    background-color: #18bc9c;
    float: right;
    width: 100%;
    height: 1px;
    color: #18bc9c;
}

label{

}

input{
	width: 200px; 
	height: 30px;
}




button{
    background-color: #18bc9c;
    color: #fff;
    border: 1px solid #18bc9c;
}


.secaoSupr{
    margin-top: 100px; 
	font-variant: small-caps;
    color: #fff;
	text-align: center; 
    padding: 50px;
    height: auto;
}

.cadSupr {	
	text-align: right; 
    float: left;
	background-color: rgb(44,62,80);
    padding: 50px;
    padding-left: 150px;
}
.cadForn{
    text-align: right; 
    float: right;
	background-color: rgb(44,62,80);
    padding: 50px;
    padding-left: 150px;
}

select{
    width: 200px; 
    height: 30px; 
}

option{
	color: rgb(44,62,80);
}
    
.secaoProd{
    margin-top: 450px; 
	font-variant: small-caps;
    color: #fff;
	text-align: center; 
    padding: 50px;
    height: auto;
}

.cadProd{	
	text-align: right; 
    float: left;
	background-color: rgb(44,62,80);
    padding: 50px;
    padding-left: 120px;
    
    
}

.selSup{
    text-align: right; 
    float: right;
	background-color: rgb(44,62,80);
    padding: 50px;
    padding-left: 150px;
}


.table{
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    text-align: left; 
}

.l1{
    background-color: #18bc9c;
    height: auto;
}

.ls{
    height: auto;
    text-align: left;
}

